@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.py{
    display: flex;
    flex-direction: column;  
    margin-top:3vh;
    justify-content: center;
    background-color: #06394044;
    border-radius: 4vh;
    border: solid black 0.2vh;
    padding-top: 1.5vh;   
    padding-right: 2%;
    padding-left: 2%;
    
}
.perdeu, .resposta1, .resposta2, .resposta3, .resposta4, .resposta5, .resposta6, .resposta7{
    font-size: 1.8vh;
    border: solid #063940 0.3vh;
    border-radius: 6vh;
    padding: 0.75vh 1.5vh;
    margin-bottom: 3.5%;
}
body{
    height: 100%;
    overflow: hidden;
}
main{
    background: linear-gradient(to bottom, #8ebdb6 ,#3e838c );
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
}  
.cabecalho{
    display: flex;
    background-color:#added8 ;
    border: solid #1d4a50 0.3vh;
    justify-content: space-between;
    align-items: center;
}   
h1{
    color: #205157; 
    font-size: 4vh;
    margin-left: 1vh ;
}
.bot{
    text-decoration: none;
    border: solid #063940 0.3vh;
    border-radius: 2vh;
    background-color: #628d933b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vh;
    height: 4vh;
    width: 12vh;
}
.bot:hover{
    background-color: transparent;
}
.link{
    text-decoration: none;
    font-size: 3vh;
    color: #063940;  
}
.jogada{
    margin-top: 3vh;
    text-align: center;
}
.py:empty{
    display: none;
}
.msg{
    font-size: 3vh;
    color: #04252a;
    font-weight: bold;
    margin-bottom: 3vh;
}
.p{
    font-size: 3vh;
    font-weight: bold;
    color: #092224;
}
.botoes{
    border: solid black 0.1vh;
    border-radius: 3vh;
    width: 30vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.7vh;
}
input{
    margin: 2vh;
    background-color: transparent;
    border: solid #ece1c3 0.2vh;
    padding-left: 2vh;
    border-radius: 1vh;
    outline: none;
    height: 3vh;
    box-shadow: 0.1vh 0.1vh 1vh #ece1c3 ;
    width: 13vh;
    font-size: 1.9vh;
    font-weight: bold;
}
input::placeholder{
    color: #000000;
    position: absolute;
}
button.botao{
    margin:2vh;
    border: solid #063940 0.1vh;
    border-radius: 1vh;
    font-size: 1.7vh;
    background: rgba(246, 245, 245, 0.122);
    height: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 0.1vh 0.1vh 1vh #063940 ;
    width: 7vh;
    justify-content: center;
    font-weight: bold;
}
.back{
    border: solid #063940 0.1vh;
    padding: 0.4vh;
    border-radius: 1vh;
    font-size: 2.15vh;
    background: rgba(246, 245, 245, 0.122);
    height: 5vh;
    margin-top: 2.4vh;
    text-align: center;
    box-shadow: 0.1vh 0.1vh 1vh #063940 ;
    width: 19vh;
    font-weight: bold;
  
}
button:hover{
    background-color: #ece1c3;
    color: #063940;
    box-shadow: 0.1vh 0.1vh 1vh white ;
    border: solid white 0.1vh;
    cursor: pointer;
}


