@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;  
}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, #29747e, #719e97);
}
.cabecalho{
    display: flex;
    background-color:#36727a ;
    border: solid #0e2427 0.3vh;
    justify-content: space-between;
    align-items: center;
}   
h1{
    color: #ece1c3; 
    font-size: 4vh;
    margin-left: 1vh ;
}
.bot{
    text-decoration: none;
    border: solid #063940 0.3vh;
    border-radius: 2vh;
    background-color: #8ebdb6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vh;
    height: 4vh;
    width: 12vh;
    box-shadow: 0.1vh 0.1vh 0.8vh #063940;
    
}
.bot:hover{
    background-color: #ece1c3;
    border-color: white;
    box-shadow: 0.1vh 0.1vh 0.8vh white;
}
.link{
    text-decoration: none;
    font-size: 3vh;
    color: #063940;    
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}
.msg h2{
    font-size: 4vh;
    margin-bottom: 2vh;
    color: #04272c;
}
.msg p{
    font-size: 2.5vh;
    color: #ece1c3;
}
.tracos{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-size: 5vh;    
    margin-bottom: 4vh; 
    color: #25c47a;
}
.temas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.temas h3{
    color: #042327;
    font-size: 2.8vh;
  
}
.temas button{
    margin-top: 2vh;  
    padding: 0.8vh;
    border-radius: 2vh;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    background-color: #ece1c3;
    box-shadow: 0.1vh 0.1vh 0.8vh white;
    font-weight: bold;
    color: black;
}
.temas button:hover{
    background-color: #063940;
    color: white;
    border-color: white;
    box-shadow: 0.1vh 0.1vh 0.8vh #ece1c3;
    cursor: pointer;
}
.temas1{
    margin-left: 2vh;
    margin-right: 2vh;
}
.temas div{
    display: flex;
    justify-content: center;
}
.jogada{
    justify-content: space-between;
    border: solid #063940 1px;
    border-radius: 2vh;
    padding: 1vh;
    display: none;
}
.jogada input{
    background-color: transparent;
    border-radius: 2vh;
    margin-right: 3vh;
    padding-left: 2vh;
    width: 17vh;
    border: solid  white 0.1vh;
    box-shadow: 0.01vh 0.01vh 0.8vh #ece1c3;
    outline: none;
}
.jogada input::placeholder{
    color: #ece1c3;
} 
.jogada button{
    padding-left: 0.3vh;
    padding-right: 0.3vh;
    border-radius: 0.8vh;
    border: solid white 1px;
    background-color: transparent;
    color: white;
    box-shadow: 0.01vh 0.01vh 0.8vh #ece1c3;
    outline: none;
}  
.jogada button:hover{
    background-color: #063940;
    color: white;
    border-color: white;
    box-shadow: 0.01vh 0.01vh 0.8vh white;
    cursor: pointer;
}
.tentativas{
    border: solid #063940 1px;
    box-shadow: 0.01vh 0.01vh 0.8vh #063940;
    padding: 2vh;
    border-radius: 2vh;
    margin-top: 3vh;
    background-color: #E6A4A4;
    color: #063940;
    font-weight: bold;
    text-align: center;
}
.tentativas:empty{
    display: none;
}
.tentativas button{
    padding-left: 0.3vh;
    padding-right: 0.3vh;
    border-radius: 0.8vh;
    border: solid white 1px;
    background-color:#8ebdb6;
    color: #063940;
    box-shadow: 0.01vh 0.01vh 0.8vh #ece1c3;
    padding: 1vh;
    margin-top: 1vh;
    font-weight: bold;
    outline: none;
}
.tentativas button:hover{
    background-color: #063940;
    color: white;
    border-color: white;
    box-shadow: 0.01vh 0.01vh 0.8vh white;
    cursor: pointer;
}
